.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
img {
  width: 100%; /* or any custom size */
  height: 100%; 
  object-fit: contain;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
#imgid {
  background-color: black;
  }
#noir, #LeftMenu, #menu {
    background-color: #382F4F;
  }
#white {
    background-color: #FFFFFF;
}
#a {
    background-color: #4C445F;
  }
  #nav-dropdown{
    color: rgb(158, 147, 147);
}
  
.menu div{
  background-color: #4C445F;
} 

#text{
  color:#F77649;
}

#buton{
  color:white;
  background-color:#F77649;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
